
:root{
--bg: #262F59;
--l: #303B6E;
--l2: #354075;
--l3: #3D477A;
--l4: #424E87;
--d: #252D57;
--d2: #1D2445;
--d3: #151A30;
--d4: #111526;

--c: #D4D4D4;
--c2: #EDEDED;
--c3: #F5F5F5;
--c4: #FFFFFF;
--cR: #2B2B2B;
--c2R: #121212;
--c3R: #0A0A0A;
--c4R: #000;
--red: #FFB399;
--red2: #FFC6B3;
--orange: #FFD68C;
--orange2: #FFDFA6;
--yellow: #E6DAA1;
--yellow2: #F2E8B6;
--green: #9BD982;
--green2: #A4E689;
--blue: #91D4F2;
--blue2: #99DFFF;
--indigo: #A9B0F2;
--indigo2: #CCD0FF;
--violet: #E2ACE6;
--violet2: #F1CDF2;
}

html{ scrollbar-color: var(--l4) var(--d2); }
::-webkit-scrollbar { background-color: var(--d2); }
::-webkit-scrollbar-thumb { background-color: var(--l3); }
